/* Global */
#WABVAP-PAGE .d-flex {
  display: flex !important;
}
#WABVAP-PAGE .mt-5 {
  margin-top: 5px !important;
}
#WABVAP-PAGE .my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#WABVAP-PAGE .v-align-top {
  vertical-align: top !important;
}
#WABVAP-PAGE .sec-title {
  color: #444;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0 20px;
  margin: 0;
}
#WABVAP-PAGE .card-box {
  background-color: #fff;
  padding: 25px 20px;
  border: 1px solid #dadada;
  margin: 10px 0 0 0;
  display: inline-block;
}

/* Override */
#WABVAP-PAGE .button.button-primary {
  background-color: #ff982d;
  border-color: #ff982d;
  font-size: 13px;
  font-weight: 600;
  min-height: 35px;
  margin: 26px 0;
}
#WABVAP-PAGE .button.button-primary:hover,
#WABVAP-PAGE .button.button-primary:active,
#WABVAP-PAGE .button.button-primary:focus {
  background-color: #f97f00;
  border-color: #f97f00;
}
#WABVAP-PAGE .button.button-primary:focus {
  box-shadow: 0 0 0 1px #fff,0 0 0 3px #f97f00;
}

#WABVAP-PAGE .form-table tr {
  padding: 6px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
#WABVAP-PAGE .form-table tr:first-child {
  border-top: 0px;
}
#WABVAP-PAGE .form-table tr:last-child {
  border-bottom: 0px;
}
#WABVAP-PAGE .form-table label {
  padding-top: 8px;
  font-weight: 600;
  color: #444;
}
#WABVAP-PAGE .form-table input:not([type="checkbox"]) {
  border: 1px solid #ddd;
  color: #333;
  padding: 7px 12px;
  min-height: 35px;
  line-height: 1.3;
  margin: 0;
  width: 225px;
}
#WABVAP-PAGE .form-table input:not([type="checkbox"]):focus {
  border: 1px solid currentColor;
}
#WABVAP-PAGE .form-table .del-btn {
  background-color: #f5f5f5;
  border: 1px solid #ccc !important;
  margin-left: 3px;
  color: #666;
}
#WABVAP-PAGE .form-table .del-btn:focus {
  box-shadow: 0 0 0 1px #fff,0 0 0 3px #eee;
}
#WABVAP-PAGE .form-table .del-btn:hover {
  background-color: #eee;
  color: #444;
}
@media screen and (min-width: 783px) {
  #WABVAP-PAGE .form-table th {
    padding: 26px 10px 26px 0;
    vertical-align: middle;
  }
  #WABVAP-PAGE .form-table td {
    padding: 26px 10px;
    vertical-align: middle;
  }
}

/* Custom */
#WABVAP-PAGE header {
  background-color: #fff;
  height: 58px;
  font-size: 14px;
  margin: 0 -20px 20px;
  padding: 0 20px;
}
#WABVAP-PAGE nav a {
  border-bottom: 2px solid #fff;
  box-shadow: none;
  color: #666;
  display: inline-block;
  margin-right: 30px;
  padding: 20px 0 18px 0;
  text-decoration: none;
}
#WABVAP-PAGE nav a.router-link-active {
  border-bottom: 2px solid #ff982d;
}
#WABVAP-PAGE nav a:hover {
  border-color: #999;
}
